.credit-card-brands {
  width: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-gap: 10px;
  justify-self: flex-start;
}

.credit-card-brands img {
  width: 2rem;
}

@media (max-width: 767px) {
  .credit-card-brands {
    width: 80%;
    justify-self: center;
    margin-bottom: 2rem;
  }
}