.cards-page-wrapper {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
  place-items: center;
  grid-row-gap: 1rem;
}

.cards-page > button {
  align-self: center;
}

.card-wrapper .MuiCardContent-root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: 1rem;
  align-items: center;
}

.card-holder {
  position: relative;
  width: 100%;
  /* height: 100%; */
  max-width: 500px;
  height: 260px;
}

.card-holder:hover .card {
  transform: rotateY( 180deg ) ;
  -webkit-transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.card.card--flipped {
  transform: rotateY( 180deg ) ;
  -webkit-transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
}

.card {
  position: absolute;
  /* display: grid; */
  width: 100%;
  height: 100%;
  /* grid-template-rows: repeat(4, 1fr);
  color: rgba(000, 000, 000, .5);
  background: rgba(0,0,0, .3);
  border-radius: 10px;
  padding: 2rem; */
  border-radius: 10px;
  transition: transform .4s ease-in;
  -webkit-transition: transform .4s ease-in;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(4, 1fr);
  color: rgba(000, 000, 000, .5);
  background: lightgray;
  border-radius: 10px;
  padding: 2rem;
  transition: transform .4s ease-in;
  -webkit-transition: transform .4s ease-in;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.card-back .card-back-rect,
.card-back .card-back-cvc {
  position: absolute;
  width: 100%;
  height: 60px;
  background: #000;
  top: 30px;
  left: 0;
}

.card-back .card-back-cvc {
  width: calc(100% - 2rem);
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #eee;
  top: 100px;
  left: 50%;
  padding: 0 1rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.card-back .card-back-cvc p {
  color: rgba(000, 000, 000, .8)
}

.card-back .card-back-cvc-message {
  position: absolute;
  color: #000;
  font-size: .7rem;
  top: 160px;
  right: 1rem;
}

.card--invalid {
  box-shadow: 1px 1px 9px darkgray;
  -webkit-box-shadow: 1px 1px 9px darkgray;
}

.card--visa .card-front,
.card--visa .card-back {
  background: rgb(185, 226, 248);
  background-image:
    linear-gradient(
      to left, 
      rgb(142, 186, 209), rgb(23, 51, 83)
    );
  color: #000;
  box-shadow: 1px 1px 9px rgb(185, 226, 248);
  -webkit-box-shadow: 1px 1px 9px rgb(185, 226, 248);
}

.card--mastercard .card-front,
.card--mastercard .card-back {
  background: rgb(17, 29, 43);
  background-image:
    linear-gradient(
      to right, 
      rgb(17, 29, 43), rgb(39, 86, 139)
    );
  color: slategray;
  box-shadow: 1px 1px 9px rgb(17, 29, 43);
  -webkit-box-shadow: 1px 1px 9px rgb(17, 29, 43);
}

.card--discover .card-front,
.card--discover .card-back {
  background: rgb(106, 40, 56);
  background-image:
    linear-gradient(
      to right, 
      rgb(106, 40, 56), rgb(185, 72, 100)
    );
  box-shadow: 1px 1px 9px rgb(106, 40, 56);
  -webkit-box-shadow: 1px 1px 9px rgb(106, 40, 56);
}

.card--amex .card-front,
.card--amex .card-back {
  background: rgb(113, 114, 116);
  background-image:
    linear-gradient(
      to right, 
      rgb(113, 114, 116), #d2d2d2
    );
}

.card-header h5 {
  text-align: left;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.card-content, .card-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-row-gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}

.card-footer {
  padding: 0;
}

.card-content p:last-child {
  justify-self: flex-end;
}

.card-content > p > span {
  color: #eee;
}

.card-num-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-column-gap: 2rem;
}

.card-check {
  position: relative;
  align-self: center;
  text-align: left;
}

.card-check img {
  height: 2.5rem;
}

.card-footer img[aria-hidden="false"] {
  width: 2.5rem;
  justify-self: flex-end;
  visibility: visible;
  transition: all .3s ease-out;
}

.card-footer img[aria-hidden="true"] {
  visibility: hidden;
}

.card-footer p {
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.fullName,
.cardNumber,
.expiryDate {
  transition: color .3s ease-out;
}

.fullName--focused,
.cardNumber--focused,
.expiryDate--focused {
  color: #fff;
}


@media (max-width: 767px) {  
  .card-holder {
    width: 100%;
    height: 280px;
    margin-bottom: 2rem;
  }
}