.cards-page-wrapper {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
  place-items: center;
  grid-row-gap: 1rem;
}

.cards-page > button {
  align-self: center;
}

.card-wrapper .MuiCardContent-root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
  position: relative;
  height: 260px;
  display: grid;
  width: 100%;
  max-width: 500px;
  grid-template-rows: repeat(4, 1fr);
  color: rgba(255,255,255, .8);
  background: rgba(0,0,0, .3);
  border-radius: 10px;
  padding: 2rem;
  transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
}

.card--visa {
  background: rgb(185, 226, 248);
  background-image:
    linear-gradient(
      to left, 
      rgb(142, 186, 209), rgb(23, 51, 83)
    );
}

.card--mastercard {
  background: rgb(17, 29, 43);
  background-image:
    linear-gradient(
      to right, 
      rgb(17, 29, 43), rgb(39, 86, 139)
    );
}

.card--discover {
  background: rgb(106, 40, 56);
  background-image:
    linear-gradient(
      to right, 
      rgb(106, 40, 56), rgb(185, 72, 100)
    );
}

.card--amex {
  background: rgb(113, 114, 116);
  background-image:
    linear-gradient(
      to right, 
      rgb(113, 114, 116), #d2d2d2
    );
}

.card-header h5 {
  text-align: right;
  text-transform: uppercase;
  padding-top: 1rem;
}

.card-content, .card-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-row-gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}

.card-footer {
  padding: 0;
}

.card-content p:last-child {
  justify-self: flex-end;
}

.card-content > p > span {
  color: #eee;
}

.card-num-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-column-gap: 2rem;
}

.card-check {
  position: relative;
  text-align: left;
  /* top: 2rem;
  left: 2rem; */
}

.card-footer img[aria-hidden="false"] {
  width: 2.5rem;
  justify-self: flex-end;
  visibility: visible;
  transition: all .3s ease-out;
}

.card-footer img[aria-hidden="true"] {
  visibility: hidden;
}

.card-footer p {
  font-weight: bold;
  text-transform: uppercase;
}


@media (max-width: 767px) {
  
  .card + form {
    row-gap: 2rem;
  }
  
  .card {
    width: 85%;
    height: 280px;
  }
}