.cards {
  display: grid;
  place-items: center;
}

.cards-add-page > div.MuiPaper-rounded {
  width: 80%;
}

.card-wrapper-header h4 {
  padding: 1rem;
}

.card-wrapper-footer.MuiCardActions-root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  background: #eee;
  padding: 2rem;
}

.card-wrapper-footer.MuiCardActions-root .MuiButton-containedPrimary {
  justify-self: flex-end;
}

@media (max-width: 767px) {
  .cards-add-page > div.MuiPaper-rounded {
    width: 100%;
    padding: 2rem 0;
  }

  .card-wrapper-header {
    margin-bottom: 1rem;
  }

  .card-wrapper-footer {
    flex-direction: column;
  }

  .card-wrapper .MuiCardContent-root {
    justify-items: center;
  }

  .card + form {
    width: 85%;
    row-gap: 2rem;
  }

  .card-content {
    flex-direction: column;
  }

  .card-content > p {
    align-self: flex-end;
  }

  .card-content > p:first-child {
    align-self: flex-start;
  }

  .card-wrapper-footer.MuiCardActions-root .MuiButton-containedPrimary {
    justify-self: center;
  }
}