/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
	font-family: 'Josefin-Regular';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	src: url('./assets/fonts/josefin/JosefinSans-Regular.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-family: 'Josefin-Regular';
}
