.cards-page-wrapper {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
  place-items: center;
  grid-row-gap: 1rem;
}

.cards-page > button {
  align-self: center;
}
.cards-page-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  grid-gap: 1.5rem;
  padding: 1rem;
}
